---
## Коллекции

### Строки

Строка в Python может быть заключена в одинарные (') или двойные (") кавычки

In [1]:
text1 = 'Sample text'
text2 = "Sample text"

In [2]:
type(text1)

str

#### Операции над строками

Сравнение

In [3]:
"abc" == "abc"

True

In [4]:
"abc" == 'bac'

False

In [5]:
"abc" < "abcd"

True

In [6]:
"abc" > "abd"

False

In [ ]:
"abc" < "abd"

Конкатенация

In [7]:
str1 = "Start"
str2 = "Finish"

In [8]:
str1 + str2

'StartFinish'

In [9]:
str1 + "->" + str2

'Start->Finish'

In [10]:
str1 = "Start"
str2 = "Finish"
middle = "->"
str1 + middle + str2

'Start->Finish'

In [11]:
name = "Александр"
surname = "Лещинский"
name + " " + surname

'Александр Лещинский'

Умножение

In [12]:
a = "A!"

In [13]:
a * 10

'A!A!A!A!A!A!A!A!A!A!'

Вычитание??? Деление???

In [14]:
a - "1"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [15]:
a / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

Полезные методы у строк

In [16]:
str1 = "ИСПОЛЬЗОВАНИЕ ЯЗЫКА ПРОГРАММИРОВАНИЯ PYTHON ДЛЯ АНАЛИЗА ДАННЫХ"
str1.lower()

'использование языка программирования python для анализа данных'

In [17]:
"ИСПОЛЬЗОВАНИЕ ЯЗЫКА ПРОГРАММИРОВАНИЯ PYTHON ДЛЯ АНАЛИЗА ДАННЫХ".lower()

'использование языка программирования python для анализа данных'

In [18]:
"Использование языка программирования Python для анализа данных".upper()

'ИСПОЛЬЗОВАНИЕ ЯЗЫКА ПРОГРАММИРОВАНИЯ PYTHON ДЛЯ АНАЛИЗА ДАННЫХ'

In [19]:
text = "Мама мыла раму"

In [20]:
len(text)

14

In [21]:
text.split(" ")

['Мама', 'мыла', 'раму']

In [22]:
text.split()

['Мама', 'мыла', 'раму']

In [23]:
text.split("м")

['Ма', 'а ', 'ыла ра', 'у']

In [24]:
text.endswith("раму")

True

In [25]:
text.endswith("папа")

False

In [26]:
text.startswith("мама")

False

In [27]:
text.startswith("Мама")

True

In [28]:
another_text = text.replace("М", "м")

In [29]:
another_text

'мама мыла раму'

In [30]:
text

'Мама мыла раму'

## Кортежи

In [31]:
t = ("Павел", "Евгения", "Александр", "Мария")
print(t)

('Павел', 'Евгения', 'Александр', 'Мария')

In [32]:
type(t)

tuple

In [33]:
t[0]

'Павел'

In [34]:
t[-1]

'Мария'

In [35]:
t[-2]

'Александр'

In [36]:
t[5]

IndexError: tuple index out of range

In [37]:
t[-6]

IndexError: tuple index out of range

In [38]:
t

('Павел', 'Евгения', 'Александр', 'Мария')

In [39]:
t[1:]

('Евгения', 'Александр', 'Мария')

In [40]:
t[:1]

('Павел',)

In [41]:
t[2:4]

('Александр', 'Мария')

In [42]:
t[1:5:2]

('Евгения', 'Мария')

In [43]:
t[::-1]

('Мария', 'Александр', 'Евгения', 'Павел')

### Задание
Написать программу, проверяющую, является ли x факторионом.  

Факторион - натуральное число, которое равно сумме факториалов своих цифр.  
[SPOILER] Существует ровно 4 таких числа - 1, 2, 145, 40585

In [44]:
x = 2
t = (1, 2, 145, 40585)
x in t

True

In [45]:
x = 4
t = (1, 2, 145, 40585)
x in t

False

In [46]:
x = 10
y = 20

t = x
x = y
y = t
print(x, y)

20 10

In [47]:
x = 10
y = 20
x, y = y, x
print(x, y)

20 10

In [48]:
t = (1, 2, 145, 40585)
t[3] = 10

TypeError: 'tuple' object does not support item assignment

### Списки

In [49]:
empty_list = []
empty_list

[]

In [50]:
lst = ["Павел", "Евгения", "Александр", "Мария"]
lst

['Павел', 'Евгения', 'Александр', 'Мария']

In [51]:
type(lst)

list

In [52]:
len(lst)

4

In [53]:
print(lst)

['Павел', 'Евгения', 'Александр', 'Мария']

In [54]:
lst[3] = "Наталья"
lst

['Павел', 'Евгения', 'Александр', 'Наталья']

In [55]:
lst.append("Светлана")
lst.append("Светлана")
lst

['Павел', 'Евгения', 'Александр', 'Наталья', 'Светлана', 'Светлана']

In [56]:
del lst[-1]
lst

['Павел', 'Евгения', 'Александр', 'Наталья', 'Светлана']

In [57]:
sorted_lst = sorted(lst)

In [58]:
print("Исходный список")
print(lst)
print("Отсортированный список")
print(sorted_lst)

Исходный список
['Павел', 'Евгения', 'Александр', 'Наталья', 'Светлана']
Отсортированный список
['Александр', 'Евгения', 'Наталья', 'Павел', 'Светлана']

Копирование объектов

In [59]:
lst_copy = lst

In [60]:
lst

['Павел', 'Евгения', 'Александр', 'Наталья', 'Светлана']

In [61]:
lst_copy

['Павел', 'Евгения', 'Александр', 'Наталья', 'Светлана']

In [62]:
lst.append("Николай")

In [63]:
lst

['Павел', 'Евгения', 'Александр', 'Наталья', 'Светлана', 'Николай']

In [64]:
lst_copy

['Павел', 'Евгения', 'Александр', 'Наталья', 'Светлана', 'Николай']

In [65]:
import copy

In [66]:
lst_copy = copy.copy(lst)

In [67]:
lst.append("Ксения")
lst

['Павел', 'Евгения', 'Александр', 'Наталья', 'Светлана', 'Николай', 'Ксения']

In [68]:
lst_copy

['Павел', 'Евгения', 'Александр', 'Наталья', 'Светлана', 'Николай']

In [69]:
lst_copy + lst

['Павел',
 'Евгения',
 'Александр',
 'Наталья',
 'Светлана',
 'Николай',
 'Павел',
 'Евгения',
 'Александр',
 'Наталья',
 'Светлана',
 'Николай',
 'Ксения']

### Словари

In [70]:
data_base = {}
data_base

{}

In [71]:
data_base = {
    "Павел": 12,
    "Евгения": 11,
    "Александр": 14,
    "Наталья": 10,
    "Светлана": 12   
}
data_base

{'Павел': 12, 'Евгения': 11, 'Александр': 14, 'Наталья': 10, 'Светлана': 12}

In [72]:
data_base["Павел"]

12

In [73]:
data_base["павел"]

KeyError: 'павел'

In [74]:
data_base.get("павел")

In [75]:
data_base.get("Павел ", "Имя не найдено")

'Имя не найдено'

In [76]:
data_base.keys()

dict_keys(['Павел', 'Евгения', 'Александр', 'Наталья', 'Светлана'])

In [77]:
"Павел" in data_base

True

In [78]:
"Олег" in data_base

False

In [79]:
data_base["Михаил"] = 20

In [80]:
data_base

{'Павел': 12,
 'Евгения': 11,
 'Александр': 14,
 'Наталья': 10,
 'Светлана': 12,
 'Михаил': 20}

In [81]:
data_base = {
    "Павел": [12, 20, 1, 13],
    "Евгения": [11, 10, 30, 13]
}
data_base

{'Павел': [12, 20, 1, 13], 'Евгения': [11, 10, 30, 13]}

In [82]:
data_base_copy = data_base
data_base["Николай"] = [2, 3, 10]
data_base_copy

{'Павел': [12, 20, 1, 13], 'Евгения': [11, 10, 30, 13], 'Николай': [2, 3, 10]}

In [ ]:
data_base = {
    "Павел": [12, 20, 1, 13],
    "Евгения": [11, 10, 30, 13]
}
data_base_copy = copy.copy(data_base)
data_base["Николай"] = [2, 3, 10]
data_base

In [ ]:
data_base_copy

In [ ]:
data_base["Павел"][0] = 13
data_base

In [ ]:
data_base_copy

In [ ]:
data_base = {
    "Павел": [12, 20, 1, 13],
    "Евгения": [11, 10, 30, 13]
}
data_base_copy = copy.deepcopy(data_base)
data_base["Николай"] = [2, 3, 10]
print(data_base)
print(data_base_copy)

In [ ]:
data_base["Павел"][0] = 13
data_base

In [ ]:
data_base_copy

In [ ]:
words = ['Привет', 'Привет', 'Здравствуйте', 'Добрый день']
set(words)

() - кортеж, коллекция, которую нельзя менять
[] - список, коллекция, которую можно менять, не забываем про copy.copy()
() - множество, коллекция, где элементы не могут повторяться
{:} - словарь, коллекция, которая хранит значения по ключам

In [86]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [88]:
set([1, 2, 3, 3, 3])

{1, 2, 3}